.repoDetails {
  padding: 20px;
  background-color: #f5f5f5;
  border-left: 1px solid #ddd;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin: 10px 0;
  }
}

.repoDetailsAll {
  padding: 20px;
  background-color: #f5f5f5;
  border-left: 1px solid #ddd;
  height: 100%;

  p {
    margin: 10px 0;
  }
}

.lang {
  background: #2196f3;
  border-radius: 15px;
  width: fit-content;
  padding: 5px;
}

.star {
  display: flex;
  align-items: center;
}

.desc {
  display: flex;
  justify-content: space-between;
}
